a:hover{
    cursor: pointer;
    color: dodgerblue;
    text-decoration: none;
}
.left-ul li{
    float:left;
    margin-left: 10px;
}
.right-ul li{
    float:right;
    margin-right: 10px;
}
ul{
    list-style: none;
}
.li-hover:hover{
    cursor: pointer;
}
.top-front:hover {
    cursor:pointer;
    color:gray;
}
.jumbotron {
    background-image: url("../img/bgimg.jpeg");
    background-size: 100%;
    color: ghostwhite;
}
.acolor {
    color: white;
    text-decoration: none;
}

.title-avatar{
    width: 40px;
    height: 40px;
}
.center-in-center{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.box{
    /*height:500px;*/
    -moz-box-shadow: 10px 10px 5px #888888; /* 老的 Firefox */
    box-shadow: 0px 10px 30px #888888;
    border-radius: 10px;

}

.user-list li:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

[v-cloak] {
    display: none;
}

.am-topbar .am-text-ir {
    display: block;
    margin-right: 10px;
    height: 50px;
    width: 125px;
    background: url("../img/cdisk-logo-white.png") no-repeat left center;
    -webkit-background-size: 125px 40px;
    background-size: 125px 40px;
}

.upic {
    display: block;
    margin-right: 10px;
    margin-top: 4px;
    height: 40px;
    width: 40px;
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px;
}

.tip {
    display:block;
    background:#f00;
    border-radius:50%;
    width:8px;
    height:8px;
    top:10px;
    right:3px;
    position:absolute;
}