a:hover{
    cursor: pointer;
    color: dodgerblue;
    text-decoration: none;
}
.left-ul li{
    float:left;
    margin-left: 10px;
}
.right-ul li{
    float:right;
    margin-right: 10px;
}
ul{
    list-style: none;
}
img{
    width: 40px;
    height: 40px;
}
/*.hover-pointer {*/
    /*cursor: pointer;*/
/*}*/
p:hover {
    cursor:pointer;
    color:gray;
}
.jumbotron {
    background-image: url("../img/bgimg.jpeg");
    background-size: 100%;
    color: ghostwhite;
}
.acolor {
    color: black;
    text-decoration: none;
}

