a:hover{
    cursor: pointer;
}
.left-ul li{
    float:left;
    margin-left: 10px;
}
.right-ul li{
    float:right;
    margin-right: 10px;
}
ul{
    list-style: none;
}
img{
    width: 40px;
    height: 40px;
}
/*.hover-pointer {*/
    /*cursor: pointer;*/
/*}*/
p:hover {
    cursor:pointer;
    color:gray;
}
.jumbotron {
    background-image: url("../img/timg (1).jpeg");
    /*color: ghostwhite;*/
}
body{
    background-image: url("../img/timg (1).jpeg");
    background-size:100%;
}
