a:hover{
    cursor: pointer;
    color: dodgerblue;
    text-decoration: none;
}
.left-ul li{
    float:left;
    margin-left: 10px;
}
.right-ul li{
    float:right;
    margin-right: 10px;
}
ul{
    list-style: none;
}
img{
    width: 40px;
    height: 40px;
}
/*.hover-pointer {*/
    /*cursor: pointer;*/
/*}*/
.top-front:hover {
    cursor:pointer;
    color:gray;
}
.jumbotron {
    background-image: url("../img/bgimg.jpeg");
    background-size: 100%;
    color: ghostwhite;
}
.acolor {
    color: black;
    text-decoration: none;
}

[v-cloak] {
    display: none;
}

.up-img-cover {
    width: 300px;
    height: 200px;
}

.up-img-cover img {
    width: 200px;
    height: 200px;
}

.up-img-cover:hover{
    cursor: pointer;
}

.info-name {
    font-family: "Microsoft YaHei", YaHei, "微软雅黑", SimHei, "黑体";
    font-size: 25px;
}

.fa-pencil-square {
    cursor: pointer;
}
