a:hover{
    cursor: pointer;
    color: dodgerblue;
    text-decoration: none;
}
.left-ul li{
    float:left;
    margin-left: 10px;
}
.right-ul li{
    float:right;
    margin-right: 10px;
}
ul{
    list-style: none;
}
.top-front:hover {
    cursor:pointer;
    color:gray;
}
.jumbotron {
    background-image: url("../img/bgimg.jpeg");
    background-size: 100%;
    color: ghostwhite;
}
.acolor {
    color: white;
    text-decoration: none;
}

.box{
    height:500px;
    -moz-box-shadow: 10px 10px 5px #888888; /* 老的 Firefox */
    box-shadow: 0px 10px 30px #888888;
}

img{
    width: 40px;
    height: 40px;
}

.div-center{
    text-align: center;
}

