<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>File</title>
    <link href="css/bootstrap.4.0.0.css" rel="stylesheet" type="text/css"/>
    <link href="css/fileinput.min.css" media="all" rel="stylesheet" type="text/css"/>
    <link href="css/font-awesome.min.css" media="all" rel="stylesheet" type="text/css"/>
    <link href="themes/explorer-fa/theme.css" media="all" rel="stylesheet" type="text/css"/>
    <link href="css/file.css" rel="stylesheet" type="text/css"/>
    <link href="css/lightbox.css" rel="stylesheet" type="text/css"/>
    <script src="js/lib/jquery.min.js"></script>
    <script src="js/plugins/sortable.js" type="text/javascript"></script>
    <script src="js/fileinput.js" type="text/javascript"></script>
    <script src="js/locales/zh.js" type="text/javascript"></script>
    <script src="themes/explorer-fa/theme.js" type="text/javascript"></script>
    <script src="themes/fa/theme.js" type="text/javascript"></script>
    <script src="js/lib/popper.min.js" type="text/javascript"></script>
    <script src="js/lib/bootstrap.4.0.0.min.js" type="text/javascript"></script>
    <script src="js/page/jumpPage.js"></script>
    <script src="js/lib/lightbox.js"></script>
</head>
<body>
<br>
<div id="file" class="col-md-12">
    <!-- Button trigger modal -->
    <button type="button" id="uploadFile" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">
        上传
    </button>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">上传文件</h5>
                    <div hidden id="upper">{{ upperPath }}</div>
                    <button type="button" @click="fileClose()" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input id="input-upfile" name="files" type="file"  multiple/>
                </div>
                <div id="kartik-file-errors"></div>
            </div>
        </div>
    </div>


<button type="button" class="btn btn-info" @click="newFolder()">新建文件夹</button>
<br><br>
<div class="row">
    <ul>
    <li><a class="acolor" href="javascript:void(0)" @click="goBackStepOne()">返回上一级</a></li>
    <li>|</li>
        <li><a href="javascript:void(0)" @click="allFile()">全部文件</a></li>
    <li v-for="(jumpFile, index) in jumpFiles">
        <i> > </i>
        <a href="javascript:void(0)" @click="jumpFilePage(index)">{{ jumpFile }}</a>
    </li>

</ul>
</div>
<table class="table" style="table-layout:fixed" >
    <thead>
    <tr>
        <th>文件名</th>
        <th></th>
        <th>大小</th>
    </tr>
    </thead>
    <tbody>
    <tr class="line" v-for="file in fileList">
        <td>
            <i v-if="file.type == 'folder'" class="fa fa-folder"></i>
            <i v-else-if="file.type == 'image'" class="fa fa-image"></i>
            <i v-else-if="file.type == 'video'" class="fa fa-video-camera"></i>
            <i v-else class="fa fa-file"></i>
            <a v-if="file.type == 'folder'" class="acolor" @click="open(file.name, file.parentPath, file.type)" href="javaScript:void(0)">
                {{ file.name }}
            </a>
            <a v-if="file.type == 'image'" class="acolor" :href="'/nginx/file/' + file.id + '?token=' + token" :data-title="file.name" data-lightbox="roadtrip">
                {{ file.name }}
            </a>
            <a v-if="file.type == 'video'" class="acolor" href="javaScript:void(0)" @click="video(file.id)">
                {{ file.name }}
            </a>
            <a v-else>
                {{ file.name }}
            </a>
        </td>
        <td v-if="file.type == 'folder'">
            <span class="fa fa-trash yincang" style="float:left">&nbsp;&nbsp;</span>
        </td>
        <td v-else>
            <span class="fa fa-share-alt yincang" style="float:left">&nbsp;&nbsp;</span>
            <a :href="'/nginx/file/' + file.id + '?token=' + token" :download="file.name" class="acolor">
                <span class="fa fa-cloud-download yincang" style="float:left">&nbsp;&nbsp;
                </span>
            </a>
            <span class="fa fa-trash yincang" style="float:left">&nbsp;&nbsp;</span>
        </td>
        <td>
            <p v-if="file.size == null"></p>
            <p v-else-if="file.size < 10*1024" >{{ file.size }}KB</p>
            <p v-else>{{ Math.round(file.size/1024) }}M</p>
        </td>
    </tr>
    </tbody>
</table>
</div>
</body>

<script src="js/lib/vue.min.js"></script>

<script src="js/lib/axios.min.js"></script>

<script src="js/lib/qs.js"></script>

<script src="js/page/config.js"></script>

<script src="js/page/file.js"></script>

</html>